
ion-card{
    --background: var(--ion-color-primary);
}

ion-card-title{
    --color: var(--ion-color-primary-contrast);
}

ion-text{
    font-size: 14px;
    color: var(--ion-color-primary-contrast);
}