<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Favorites</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-text-center">

  <div *ngFor="let data of favs$ | async" [routerLink]="'/professional/'+data?.favorite?.uuid">
    <h2 class="ion-text-left ion-padding-horizontal ion-margin-vertical">
      {{ data?.favorite?.title}}
    </h2>
    <ion-card class="ion-margin-vertical">
      <ion-card-content>
        <div class="ion-text-center ion-margin-vertical">
          <a href="tel:{{professional?.phone}}">
            <ion-button [style.--background]="'#e3e6ff'">
              <img src="./assets/icons/call.svg" alt="Phone {{professional?.phone}}" width="24px" /> <br/>
            </ion-button>
          </a>
      
          <a href="mailto:{{professional?.mail}}">
            <ion-button [style.--background]="'#fff6df'">
              <img src="./assets/icons/mail.svg" alt="Email {{professional?.mail}}" width="24px" /> <br/>
            </ion-button>
          </a>
      
          <a href="{{professional?.url}}" target="_blank">
            <ion-button [style.--background]="'#f5f5f6'">
              <img src="./assets/icons/link.svg" alt="Go to website {{professional?.url}}" width="24px" /> <br/>
            </ion-button>
          </a>
      
          <!-- <ion-button (click)="displayShare()" [style.--background]="'#fde2e5'">
            <img src="./assets/icons/share.svg" alt="Share" width="24px" /> <br/>
          </ion-button> -->
        </div>
      </ion-card-content>
    </ion-card>

  </div>  

</ion-content>
