<ion-content slot="start">
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="home">
        <ion-icon 
          class="clickable transition-all-ease"
          aria-label="Go to home"
          src="assets/icons/home.svg"
          width="32"
          height="32"
        ></ion-icon>      
        Home
      </ion-tab-button>
  
      <ion-tab-button tab="doctors">
        <ion-icon 
          class="clickable transition-all-ease"
          aria-label="Go to list of doctors"
          src="assets/icons/list.svg"
          width="32"
          height="32"
        ></ion-icon>     
        Doctors  
      </ion-tab-button>
  
      <ion-tab-button tab="favorites">
        <ion-icon 
          class="clickable transition-all-ease"
          aria-label="Go to favorites"
          src="assets/icons/heart.svg"
          width="32"
          height="32"
        ></ion-icon>     
        Favorites  
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
