<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-back-button slot="start" defaultHref="/"></ion-back-button>
    <ion-title>QueerHealth</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding"> 

  <div class="welcome-min ion-text-center">
    <img src="./assets/icons/gem-rainbow.png" width="36px" />
    <br />
    <h1 class="text-primary">
      <strong>
        Authentication
      </strong>
    </h1>  
  </div>
  
  <app-sign-in
    headline="Please sign-in to continue"  
  ></app-sign-in>
</ion-content>